<?xml version="1.0" encoding="utf-8" ?>
 <widget xmlns = "http://www.w3.org/ns/widgets"
 	xmlns:gap  = "http://phonegap.com/ns/1.0"
 	id = "nl.glr.mwfm2"
 	version = "1.0.0" >

 	<name> Inhaalapp </name>

 	<description>

		test
 	</description>

 	<plugin name="cordova-plugin-whitelist" />

 	<access origin="*"/>
 </widget>